.div-contain{
    width: 1320px;
height: 600px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(image/bg.png);
margin: auto;
}
.head-title{
    padding-bottom: 0px;
    padding-top: 150px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.head-info{
    padding-top: 0px;
    margin-top: 0px;
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}
.div-container{
    display: block;

}
.off{
    color: #F00;
text-align: center;

font-size: 88px;

font-weight: 700;

}
.div-info{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    
}
.all-cat{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    
}

    
.div-img{
    width: 802.9px;
height: 500px;
flex-shrink: 0;
margin:0px auto;
padding:auto;

}
.body-container{
    margin: 200px auto;
}

.sec2-container{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(image/vect.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
height: 600px;
margin: auto;
margin-top: 200px;
border-radius: 20px;
display: flex;
justify-content: space-around;
padding-top: 100px;
}
.sec2-title{
    width: 642px;
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;

}
.sec2-info{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.sec2.btn{
    background-color: transparent;

}
