.div-contain{
    width: 1320px;
height: 600px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(image/bg.png);
margin: auto;
}
.head-title{
    padding-bottom: 0px;
    padding-top: 150px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.head-info{
    padding-top: 0px;
    margin-top: 0px;
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}
.div-container{
    display: block;

}
.off{
    color: #F00;
text-align: center;

font-size: 88px;

font-weight: 700;

}
.div-info{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    
}
.all-cat{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    
}

    
.div-img{
    width: 802.9px;
height: 500px;
flex-shrink: 0;
margin:0px auto;
padding:auto;

}
.body-container{
    margin: 200px auto;
}

.sec2-container{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(image/vect.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
height: 600px;
margin: auto;
margin-top: 200px;
border-radius: 20px;
display: flex;
justify-content: space-around;
padding-top: 100px;
}
.sec2-title{
    width: 642px;
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;

}
.sec2-info{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.sec2-btn{
    cursor: pointer; 
    border: 1px solid black; 
    background-color: transparent; 
    color: white; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.section-3{
    display: flex;
   justify-content: center; 
   align-items: center;
    margin: auto;
}
.sec3-container{
    display: flex;
    margin-top: 200px;
    gap:100px;
}
.sec3-p1-mini-title{
    color: #F00;
font-family: Inter;
font-size: 24px;

font-weight: 500;

}
.sec3-p1-title{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.sec3-p1-info{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.sec2-p2-img{
    padding-left: 42px;
    padding-top: 40px;
    padding-right: 50px;
}
.sec3-p2{
    border-radius: 450px;
border: 15px solid red;
width: 450px;
height: 450px;
flex-shrink: 0;
}
.sec3-p3-mini-title{
    width: 126px;
    height: 58px;
    color: red;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
padding-bottom: 0px;
line-height: normal;
}
.sec3-p3-info{
    padding-top: 0px;
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.section-4{
    margin: auto;
    margin-top: 200px;
    display: flex;
   justify-content: center; 
   align-items: center;
    
}
.sec4-p1-mini-title{
    color: #F00;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sec4-p2-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.sec4-p3-info{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 896px;
}
.sec4-p4-img1{
    display: flex;
    height: auto;
    width: 100%;
    
}
.sec4-p5-img2{
    display: flex;
    height: auto;
    width: 100%;
}

.sec4i1{
    overflow: hidden;
    height: auto;
    width: 100%;
    border-radius: 20px;
}
.sec4i1 img{
    display: block;
    transition: transform 1s;
    
}
.sec4i1:hover img{
    transform: scale(1.2);
    overflow: hidden;
}

.sec4i2{
    overflow: hidden;
    height: auto;
    width: 100%;
    border-radius: 20px;
}
.sec4i2 img{
    display: block;
    transition: transform 1s;
    
}
.sec4i2:hover img{
    transform: scale(1.2);
    overflow: hidden;
}

.sec4i3{
    overflow: hidden;
    height: auto;
    width: 100%;
    border-radius: 20px;
}
.sec4i3 img{
    display: block;
    transition: transform 1s;
    
}
.sec4i3:hover img{
    transform: scale(1.2);
    overflow: hidden;
}

.sec4i4{
    overflow: hidden;
    height: auto;
    width: 100%;
    border-radius: 20px;
}
.sec4i4 img{
    display: block;
    transition: transform 1s;
    
}
.sec4i4:hover img{
    transform: scale(1.2);
    overflow: hidden;
}

.sec4i5{
    overflow: hidden;
    height: auto;
    width: 100%;
    border-radius: 20px;
}
.sec4i5 img{
    display: block;
    transition: transform 1s;
    
}
.sec4i5:hover img{
    transform: scale(1.2);
    overflow: hidden;
}

.sec4i6{
    overflow: hidden;
    height: auto;
    width: 100%;
    border-radius: 20px;
}
.sec4i6 img{
    display: block;
    transition: transform 1s;
    
}
.sec4i6:hover img{
    transform: scale(1.2);
    overflow: hidden;
}

